html,
body {
    background: #0C7CA2;
    height: 725px;
    overflow: hidden;
    width: 368px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

#main {
    background: #1DCCEB;
    border-bottom: 1px solid #73E2F7;
    height: 700px;
}



#main h1 {
    color: #fff;
    padding-right: 6px;
    padding-top: 5px;
    text-align: right;
    text-indent: -10000px;
}

#main h1 img {
    height: 31px;
    width: 195px;
}



.settings,
.close {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: absolute;
    text-indent: -10000px;
    top: 6px;
    width: 32px;
    z-index: 1;

    -webkit-app-region: no-drag;
}

.settings {
    
    background-size: 24px 24px;
    right: 38px;
}

.close {
    background: transparent url('../img/close.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    right: 6px;
}

