
.showtask{
    position: absolute;
    margin-left: 40%;
    margin-top: 30%;
}

.close{
    position: absolute;
    margin-left: 40%;
    margin-top: 35%;
}

#title{
    position: absolute;
    margin-left: 35%;
}