.tasktable {
    overflow:hidden;
    overflow-y: scroll;
    height: 100%;
    width:100%;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table{
    overflow-y:scroll;
    height:1000px;
    /*width:500px;*/
    display:block;
    border:1px solid red;
    margin-top:20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}